/**
  * @name Bart
  * @author JFounder
  * @version Dark1
  * @description Highly customized dark and purple theme for Discord
  * @authorId 966417786081517678
  * @authorLink https://jfounder.xyz
  * @source https://github.com/JFounder/Bart_BD
  * @website https://jfounder.xyz
*/

@import url('https://raw.githubusercontent.com/JFounder/Bart_BD/main/Dark.theme1.css');

:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #bb86fc;
  --darkplus-links: #cdaef3;
  --darkplus-home-icon: url(https://cdn.discordapp.com/attachments/468141324906921984/852117175212179466/discord-avatar-512-YV0PV.png)
}

